.event-near-you {
	width: 1060px;	
	font-size: 16px;
	margin-bottom: 30px;
}

.event-near-you div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	margin-bottom: 15px;
}

.event-near-you div .see-all {
	color: #00A2C9;
}

.event-near-you .see {
	font-size: 14px;
}

.event {
	display: flex;
}

.event .event-container {
	width: 340px;
	height: 260px;
	border-radius: 10px;
	border: 1px solid #F8F9F9;
	box-shadow: 0px 1px 5px #D9DCDB;
	padding: 25px 20px 20px 20px;
	box-sizing: border-box;
	font-family: sans-serif;
	position: relative;
	transform: translate(0px,0px);
	margin-right: 20px;
}

.event .event-container:hover {
	transform: translate(0px,-1px);
	transition: all 0.2s;
}

.event .event-container .event-date {
	color: #2CAAB9;
	font-size: 12px;
	margin-bottom: 20px;
	font-weight: bold;
}

.event .event-container .event-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.event .event-container .main-title {
	font-size: 18px;
	color: #212121;
	margin-bottom: 20px;
}

.event .event-container .location {
	color: #757575;
	font-size: 15px;
	margin-bottom: 20px;
}

.event .event-container .location i {
	margin-right: 10px;
}

.event .event-container .attend {
	margin-bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.event .event-container .attend span {
	color: #757575;	
}

.event .event-container .attend div {
	width: 90px;
	height: 40px;
	color: #0098AB;
	border-radius: 10px;
	border: 1px solid #0098AB;
	display: flex;
	align-items: center;
	justify-content: center;
}

.event .event-container .attend div:hover {
	background-color: #0098AB;
	color: #FFF;
}